@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Oleo+Script+Swash+Caps:wght@700&family=Poppins:ital,wght@1,700&display=swap');
* {
    margin: 0;
}

#btn {
    width: 200px;
    height: 40px;
    margin-top: 3vh;
    border: none;
    color: white;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    border-radius: 10px;
    transition: .7s;
}

#btn:hover {
    transform: scale(1.1);
}

.details {
    display: flex;
    justify-content: center;
}

#weatherContainer {
    visibility: hidden;
    border-radius: 10px;

}

.navbar-brand {
    font-family: 'Alkalami', serif;
    letter-spacing: 2px;
}

#img {
    width: 150px;
    height: 150px;
}

/* .b{
    position: relative;
    top:-50%;
    left:50%;
}   */
span {
    color: white;
}

.fa-location-dot {
    color: red;
}

.temp {
    font-size: 25px;
}

.card img {
    width: 150px;

}

.w {
    width: 100vw;
    height: 100vh;
    margin-top: 0%;
    /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    background: url('clouds-2329680.jpg')no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

#weatherContainer {
    /* opacity:70%; */
    background: rgba(255, 255, 255, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
p{
    color:white;
}
.g img{
    width:15%;
}
.des{
    font-family: 'Poppins', sans-serif;
}
/* input{
    background-color: white !important;
    height:40px;
    padding-right: 25px;
    background:url("location_city_FILL0_wght400_GRAD0_opsz48.svg") no-repeat right;
} */